<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/" method="POST">
    <input type="text" name='val' value="">
    <button class="submit">Search Player</button>
    </form>


    <% array.forEach(players =>{%> 

        <img class="img" src="" alt="" srcset="<%= players %> ">

        <% }) %> 
      
        <script>

            const img = document.querySelectorAll('img');
            const submit = document.querySelector('submit');

            // submit.onclick = deleteImages();

        
                img.forEach(img =>{
                   
                    img.onmouseover = function(){

                        img.style.opacity = '50%';

                    }

                    img.onmouseleave = function(){

                    img.style.opacity = '100%';

                    }

                })
           

            
            
        </script>
    
</body>
</html>